<!DOCTYPE html>
<html lang="en" translate="no" data-scrapbook-source="https://playerduo.net/login"
      data-scrapbook-create="20230830055511308">
<head>
    <meta http-equiv="origin-trial"
    content="Az520Inasey3TAyqLyojQa8MnmCALSEU29yQFW8dePZ7xQTvSt73pHazLFTK5f7SyLUJSo2uKLesEtEa9aUYcgMAAACPeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZS5jb206NDQzIiwiZmVhdHVyZSI6IkRpc2FibGVUaGlyZFBhcnR5U3RvcmFnZVBhcnRpdGlvbmluZyIsImV4cGlyeSI6MTcyNTQwNzk5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=">
    <meta http-equiv="origin-trial"
          content="Az520Inasey3TAyqLyojQa8MnmCALSEU29yQFW8dePZ7xQTvSt73pHazLFTK5f7SyLUJSo2uKLesEtEa9aUYcgMAAACPeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZS5jb206NDQzIiwiZmVhdHVyZSI6IkRpc2FibGVUaGlyZFBhcnR5U3RvcmFnZVBhcnRpdGlvbmluZyIsImV4cGlyeSI6MTcyNTQwNzk5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=">
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1">
    <meta name="theme-color" content="#000000">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Tham gia cộng đồng game thủ lớn nhất Việt Nam.">
    <meta name="keywords" content="Tham gia cộng đồng game thủ lớn nhất Việt Nam.">
    <meta name="google-site-verification" content="KYBoGz-bgnBnLpEUr3USGpSo1rVAvTS9LH44oCeunFw">
    <meta name="google" value="notranslate">
    <meta name="robots" content="INDEX,FOLLOW">
    <meta content="index,follow" name="googlebot">
    <meta name="copyright" content=" PlayerDuo 2022">
    <meta name="keywords" content="Playerduo, player duo, play dua, thuê gái chơi game">
    <meta name="description"
          content="PlayerDuo Cộng đồng game thủ lớn nhất Việt Nam, Cùng chơi với những game thủ chuyên nghiệp, hot streamer, hot girl và những người nổi tiếng.">
    <title>Game Community</title>
    <meta content="index,follow" name="googlebot">
    <meta name="copyright" content=" PlayerDuo 2022">
    <meta name="robots" content="INDEX,FOLLOW">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Game Community">
    <meta property="og:description" content="Tham gia cộng đồng game thủ lớn nhất Việt Nam.">
    <meta property="og:image" content="https://files.playerduo.net/production/images/thumbs.png">
    <meta property="og:video" content="">
    <title>Game Community</title>
    <link rel="apple-touch-icon" sizes="57x57" href="https://playerduo.net/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://playerduo.net/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://playerduo.net/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://playerduo.net/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://playerduo.net/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://playerduo.net/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://playerduo.net/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://playerduo.net/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://playerduo.net/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../resources/raw/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../resources/raw/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../resources/raw/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../resources/raw/favicon-16x16.png">
    <link rel="manifest" href="https://playerduo.net/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="../resources/raw/favicon.ico">
    <link href="../resources/all.css" rel="stylesheet">
    <link href="../resources/css.css" rel="stylesheet">
    <title>PlayerDuo - Thuê người chơi</title>
    <link href="../resources/8.97b85fe3.chunk.css" rel="stylesheet">
    <link href="../resources/main.3e229f12.chunk.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../resources/9.cb7de3a7.chunk.css">
    <link rel="stylesheet" href="../resources/css-login.css">

</head>
<body style="background-color: rgb(233, 235, 238) !important;">
<noscript>Bạn cần có cho phép Javascript hoạt động để chạy ứng dụng PlayerDuo.</noscript>
<div id="root">
    <header class="menu__header" id="header-menu">
        <div class="navbar-header"><a href="https://playerduo.net/" class="logo"><img alt="logo playerduo"
                                                                                      src="../resources/raw/logo.png"></a></div>
        <div class="navbar">
            <ul class="nav navbar-nav navbar-left">
                <li class="item-search">
                    <nav class="Navbar__Item">
                        <div class="Navbar__Link">
                            <div class="Group-search visible "><span class="search input-group"><input disabled=""
                                                                                                       placeholder="Nickname/Url ..."
                                                                                                       type="text"
                                                                                                       class="form-control"
                                                                                                       value=""><span
                                    class="input-group-addon"><button disabled="" type="button" class="btn btn-default"><i
                                    class="fal fa-search" aria-hidden="true"></i></button></span></span></div>
                        </div>
                    </nav>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-center">
                <li class="item-icon"><a class="group-user " href="https://playerduo.net/"><i
                        class="fal fa-home-alt"></i></a></li>
                <li class="item-icon"><a class="group-user " href="https://playerduo.net/stories"><i
                        class="fal fa-camera-movie"></i></a></li>
                <li class="item-icon group-fb"><a class="group-user"><i class="fal fa-trophy-alt"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="item-icon group-fb"><a class="group-user flag"><i class="fal fa-globe"></i></a></li>
                <li class="item-icon group-fb"><a class="group-user"><i class="fab fa-facebook-f"></i></a></li>
                <li class="item-icon authent"><a class="money-user" href=""><i class="fal fa-power-off"></i><span>Đăng nhập</span></a>
                </li>
                <li class="item-icon mode"><a class="group-user"><i class="fas fa-moon"></i></a></li>
            </ul>
        </div>
        <div class="navbar-mobile hidden">
            <button type="button" class="btn-login btn btn-default"><span>Đăng nhập</span></button>
            <a class="btn-bars"><i class="fal fa-bars"></i></a>
            <div class="flex-side hidden">
                <div class="overlay"></div>
                <div class="content">
                    <div class="box-search">
                        <nav class="Navbar__Item">
                            <div class="Navbar__Link">
                                <div class="Group-search visible "><span class="search input-group"><input disabled=""
                                                                                                           placeholder="Nickname/Url ..."
                                                                                                           type="text"
                                                                                                           class="form-control"
                                                                                                           value=""><span
                                        class="input-group-addon"><button disabled="" type="button"
                                                                          class="btn btn-default"><i
                                        class="fal fa-search" aria-hidden="true"></i></button></span></span></div>
                            </div>
                        </nav>
                        <a class="btn-close"><i class="fal fa-times fa-2x"></i></a></div>
                    <ul class="list-page"><a href="https://playerduo.net/">
                        <li class="item-icon "><a class="group-user"><i class="fal fa-home-alt"></i>
                            <span>Trang chủ</span></a></li>
                    </a><a href="https://playerduo.net/stories">
                        <li class="item-icon "><a class="group-user"><i class="fal fa-camera-movie"></i> Stories</a>
                        </li>
                    </a>
                        <li class="item-icon"><a class="group-user"><i class="fal fa-trophy-alt"></i> <span>Bảng xếp hạng</span></a>
                        </li>
                    </ul>
                    <div class="list-mode">
                        <div class="item"><p class="title"><span>Chế độ</span></p><a class="func mode"><i
                                class="fas fa-moon op"></i><i class="fas fa-sun false"></i></a></div>
                        <div class="item"><p class="title"><span>Cộng đồng</span></p>
                            <div class="func group"><a href="https://www.facebook.com/groups/playerduovn"
                                                       target="_blank" rel="noopener noreferrer"><i
                                    class="fal fa-globe"></i></a><a href="https://www.facebook.com/playerduo"
                                                                    target="_blank" rel="noopener noreferrer"><i
                                    class="fab fa-facebook-f"></i></a></div>
                        </div>
                        <div class="item"><p class="title"><span>Ngôn ngữ</span></p><a class="func lang"><img
                                src="../resources/raw/1.png" class="flag op" alt="PD"><img src="../resources/raw/2.png" class="flag false" alt="PD"></a>
                        </div>
                        <div class="item"><p class="title"><span>Tải App</span></p>
                            <div class="func app"><a href="https://testflight.apple.com/join/r6H9YvY4" target="_blank"
                                                     rel="noopener noreferrer" download="">PlayerChat</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="notifications-wrapper"></div>
    <div class="wrapper">
        <div class="container">
            <div class="row login-page">
                <div class="col-md-7 hidden-sm hidden-xs image-login"><img src="../resources/raw/banner_login.png" class="" alt="PD">
                </div>
                <div class="col-md-5  col-xs-12 form-content">
                    <div class="content-main">
                        <form>
                            <div class="fieldGroup "><input type="text" name="username"
                                                            placeholder="Tên đăng nhập hoặc email" maxlength="5000"
                                                            autocomplete="false" value=""></div>
                            <div class="fieldGroup "><input type="password" name="password" placeholder="Mật khẩu"
                                                            maxlength="5000" autocomplete="false" value=""></div>
                            <p class="forgot-password"><a href=""><span>Quên mật khẩu?</span></a></p>
                            <button type="submit"><span>Đăng nhập</span></button>
                        </form>
                        <button class="btn btn-default"><i
                                class="fab fa-facebook"></i><span>Đăng nhập bằng FaceBook</span></button>
                        <a class="create-new"><p><span>Đăng ký tài khoản</span></p></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fb-root" style="display: block;" class=" fb_reset">
    <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
        <div></div>
    </div>
</div>
</body>
</html>