
.react-skeleton-load {
    line-height: 1;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.react-skeleton-load.animated::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 500px;
    top: 0;
    left: -500px;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    animation: progress 1.2s ease-in-out infinite
}

@keyframes progress {
    0% {
        left: -500px
    }
    100% {
        left: 100%
    }
}

.emoji-picker-react ul.skin-tones-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    top: 13px;
    right: 40px;
}

.emoji-picker-react ul.skin-tones-list li {
    background-color: currentColor;
    position: absolute;
    padding: 0;
    border-radius: 2px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.emoji-picker-react ul.skin-tones-list label {
    height: 10px;
    width: 10px;
    padding: 0;
    display: block;
    cursor: pointer;
}

.emoji-picker-react ul.skin-tones-list input {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    display: none;
}

.emoji-picker-react ul.skin-tones-list li.tneutral {
    color: #ffd225;
}

.emoji-picker-react ul.skin-tones-list li.t1f3fb {
    color: #ffdfbd;
}

.emoji-picker-react ul.skin-tones-list li.t1f3fc {
    color: #e9c197;
}

.emoji-picker-react ul.skin-tones-list li.t1f3fd {
    color: #c88e62;
}

.emoji-picker-react ul.skin-tones-list li.t1f3fe {
    color: #a86637;
}

.emoji-picker-react ul.skin-tones-list li.t1f3ff {
    color: #60463a;
}

.emoji-picker-react img.emoji-img {
    height: 25px;
    width: 25px;
    margin: 5px;
}

.emoji-picker-react .native {
    height: 25px;
    width: 25px;
    margin: 5px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.emoji-picker-react .variation-wrapper {
    position: relative;
}

.emoji-picker-react .variation-list {
    background: #f4f4f4;
    border-bottom: 1px solid #efefef;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    transition: transform 0.1s;
    transform: translateY(-100%);
}

.emoji-picker-react .variation-list.visible {
    transform: translateY(0);
}

.emoji-picker-react .variation-list button {
    display: flex;
}

.emoji-picker-react .variation-list button {
    border-radius: 5px;
    transition: background 0.1s;
    background: none;
    padding: 0;
}

.emoji-picker-react .variation-list button:hover {
    background-color: #dbdbdb;
}


.emoji-picker-react .emoji-categories button {
    height: 40px;
    width: 20px;
    padding: 5px 0;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 50% 50%;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.1s;
}

.emoji-picker-react .active-category-indicator-wrapper {
    position: relative;
    width: 100%;
}

.emoji-picker-react
.active-category-indicator-wrapper
.active-category-indicator {
    background: #99c2f1;
    height: 3px;
    width: 5px;
    position: absolute;
    bottom: 3px;
    border-radius: 5px;
    transition: 0.3s;
    width: 30px;
    left: -7px;
}

.emoji-picker-react .emoji-categories button.icn-activities {
    background-image: url("");
}

.emoji-picker-react .emoji-categories button.icn-animals_nature {
    background-image: url("");
}

.emoji-picker-react .emoji-categories button.icn-flags {
    background-image: url("");
}

.emoji-picker-react .emoji-categories button.icn-food_drink {
    background-image: url("");
}

.emoji-picker-react .emoji-categories button.icn-objects {
    background-image: url("");
}

.emoji-picker-react .emoji-categories button.icn-smileys_people {
    background-image: url("");
}

.emoji-picker-react .emoji-categories button.icn-symbols {
    background-image: url("");
}

.emoji-picker-react .emoji-categories button.icn-travel_places {
    background-image: url("");
}

.emoji-picker-react .emoji-categories {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.emoji-picker-react .emoji-categories.inactive button,
.emoji-picker-react .emoji-categories.inactive button.active,
.emoji-picker-react .emoji-categories.inactive button:hover {
    opacity: 0.4;
    cursor: default;
}

.emoji-picker-react .emoji-categories button.active {
    opacity: 1;
}

.emoji-picker-react .emoji-categories button:hover {
    opacity: 0.7;
}

.emoji-picker-react .emoji {
    position: relative;
}

.emoji-picker-react .emoji.has-skin-variation button:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    right: -2px;
    bottom: 0px;
    position: absolute;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    transform: rotate(135deg);
    z-index: 1;
}

.emoji-picker-react .emoji.has-skin-variation button:hover:before,
.emoji-picker-react .emoji.has-skin-variation button:focus-visible:before {
    border-bottom: 4px solid rgba(0, 0, 0, 0.4);
}

.emoji-picker-react .emoji button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    border-radius: 5px;
    transition: 0.1s background;
    padding: 0;
    margin: 0;
}

.emoji-picker-react .emoji button:hover,
.emoji-picker-react .emoji button:focus-visible {
    background-color: currentColor;
}

.emoji-picker-react .emoji-group {
    clear: both;
    padding: 0 15px;
    list-style: none;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.emoji-picker-react .emoji-group:before {
    content: attr(data-display-name);
    color: #aaa;
    font-size: 14px;
    position: sticky;
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    z-index: 1;
    top: 0;
    text-transform: uppercase;
    line-height: 45px;
    font-weight: 700;
}

.emoji-picker-react .emoji-group:after {
    content: '';
    flex: 1000;
    order: 99999;
    flex-basis: 25px;
}

.emoji-picker-react input.emoji-search {
    width: calc(100% - 30px);
    margin-left: 15px;
    outline: none;
    box-shadow: none;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #efefef;
    border-radius: 3px;
    transition: border 0.1s;
}

.emoji-picker-react input.emoji-search:focus {
    border: 1px solid #d6d6d6;
}

aside.emoji-picker-react {
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 280px;
    font-family: sans-serif;
    border: 1px solid #efefef;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px #efefef;
    overflow: hidden;
    position: relative;
}

aside.emoji-picker-react .content-wrapper {
    flex: 1;
    overflow-y: hidden;
    position: relative;
}

.emoji-picker-react .emoji-scroll-wrapper {
    overflow-y: scroll;
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

aside.emoji-picker-react .content-wrapper:before {
    content: attr(data-name);
    color: #aaa;
    font-size: 11px;
    display: block;
    position: absolute;
    right: 15px;
    z-index: 10;
    line-height: 45px;
    max-height: 45px;
    overflow: hidden;
    max-width: 100px;
    text-overflow: ellipsis;
    text-align: right;
}

aside.emoji-picker-react button {
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
}

.styles-module_carousel-base__3keqD {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    outline: none;
    position: relative;
}

.styles-module_item-provider__YgMwz {
    overflow: hidden;
    width: 100%;
    cursor: pointer;
}

.styles-module_item-container__a8zaY img {
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.styles-module_item-tracker__3bypy {
    height: 100%;
    display: flex;
}

.styles-module_carousel-arrow__26sRw {
    z-index: 1;
}

.styles-module_carousel-navigation__1g_vs {
    display: flex;
    position: absolute;
    bottom: 0;
}

.styles-module_sliderBase__swkx1 {
    width: 100%;
    position: relative;
}

.styles-module_slider__o0fqa {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox 64 */
    -ms-overflow-style: none; /* Internet Explorer 11 */
}

.styles-module_slider__o0fqa::-webkit-scrollbar {
    /** WebKit */
    display: none;
}

.styles-module_slider__o0fqa > * {
    flex: 0 0 auto;
}

.styles-module_sliding__3T6T6 > * {
    pointer-events: none;
}

