

.container-list-image-info-lover {
    display: flex;
    justify-content: center;
}
.container-list-image-info-lover:hover {
    cursor: pointer;
}
#modal-body-rent-lover {
    color: black;
}
#modal-body-rent-lover td {
    text-align: left;
}